<form class="form">
  <div class="_message"></div>
  <div class="form__group form__content">
    <label for="content" class="form__label">Enter text below:</label>
    <textarea
      class="form__text-area"
      id="content"
      placeholder="Enter your text here"
    ></textarea>
  </div>
  <button class="btn form__submit" type="submit">Run Analysis</button>
</form>